* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
}
.preloader {
	color: black;
}
/*-----------
    Header Section-----*/
.header{
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
    font-weight: 600;
    font-size: 1.2rem;
}
#site-name{
	font-size: 25px;
	color: #6a7080;
}

.navbar-link, .nav li{
	font-size: 1.1rem;
}

/* The header body */

.container-about{
	padding: 10rem 2rem 10rem;
	  margin-left: 40px;
	  height: 100vh;
	  color: #ffffff;
}

.text-header h2{
	letter-spacing: 2px;
	font-size: 4.3rem;
	margin-bottom: 25px;
	line-height: 0.9;
}

.text-header h2 span{
	color: #fc0254;
}

.text-header p{
	opacity: 0.6;
}

.site-btn{
	margin: 30px 0;
	padding: 20px;
	border-radius: 50px;
	width: 250px;
	border: 2px groove #fc0254;
}

/* Feature section */
.grid-layout {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 5rem;
	grid-column-gap: 1.5rem;
	padding: 3rem 0;
	text-transform: capitalize;
	margin: 5rem auto;
}

.grid-layout .card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #ddd;
	padding: 1rem;
	transition: transform 2s;
}

.card:hover {
	transform: scale(.9);
}

.grid-layout img {
	height: auto;
	width: 100%;
}
.grid-layout h2 {
	color: #fc0254;
}


/* How Section */

.how-section h2{
	color: #fc0254;
	padding: 3rem 0;
}
.how-section {
	background-image: url("../images/how-to-bg.jpg");
	padding: 3rem 0 5rem;
}
.how-section .items {
	display: flex;
	justify-content: space-between;
}
.how-item .hi-icon {
	position: relative;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background: #fc0254;
	margin-bottom: 25px;
}

.how-item .hi-icon img {
	position: absolute;
	right: -8px;
	bottom: 0;
}

.how-item h4 {
	margin-bottom: 25px;
}

.how-item p {
	color: white;
	font-weight: 400;
	opacity: 0.6;
}

/*Footer Section*/
.footer-section {
	background: black;
}
@media (max-width: 900px) {
	.grid-layout {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 1rem;
		grid-column-gap: 0;
		text-transform: capitalize;
		margin: 5rem auto;
		/* margin-left: 2rem; */
	}
}

@media (max-width: 700px) {
	body {
		text-align: center;
	}
	.text-header h2{
		font-size: 3rem;
		margin: 25px 0;
	}
	.header{
		font-weight: 600;
		font-size: 1rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.container-about{
		padding: 2rem;
		  margin-left: 0;
		  color: #ffffff;
	}
	nav {
		display: none;
	}
	.grid-layout {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1rem;
		grid-column-gap: 0;
		text-transform: capitalize;
		margin: 5rem auto;
		/* margin-left: 2rem; */
	}
	.grid-layout .card {
		margin: 0 auto;
		max-width: 320px;
	} 
	.how-section .items {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}